
#Blog h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-bottom: 40px;
}
#Blog h4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15.5px;
}
#Blog .Contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#Blog article{
    margin: 19px;

}
#Blog img{
    width: 105%;
    max-width: 420px;
}